

.aggregate
{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	color: white;
	@include filter-gradient($primary-color, $primary-color, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.05) 100%));	
	
	ul
	{
		text-align: center;
		li
		{
			list-style: none;

			a
			{
				font-size: 2em;
				text-decoration: none;
				color: white;
				@include text-shadow(rgba(black, .7) 2px 2px 0);
				&:hover
				{
					text-decoration: underline;
				}
			}

			&:before
			{
				font-size: 2em;
				content: "- ";
			}

			&:after
			{
				font-size: 2em;
				content: " -";
			}
		}
	}
}