@import "compass";

$slide-up-box-height: 200px;
$slide-up-box-height: 12.5rem;
$slide-up-box-width: 300px;
$slide-up-box-width: 18.75rem;

html
{
	font-size: 100%;
}

body
{
	background-color: rgba(0,0,0,0);
	// @include background(image-url("../images/force_web_bg.jpg"));
	background-image: url("../images/force_web_bg.jpg");
	color: white;
}

*
{
	@include box-sizing(border-box);
}

h1 {
	text-align: center;
	color: $primary-color;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent),
	         -webkit-linear-gradient($primary-color, 
	         	darken($primary-color, 20%));
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

h2
{
	font-size: 3em;
	text-align: center;
	color: white;
	text-decoration: underline;
	@include text-shadow(rgba(black, .7) 2px 2px 0);
}

h3
{
	text-align: center;
	font-size: 2em;
	color: white;
	@include text-shadow(rgba(black, .7) 2px 2px 0);
}

svg {
  height: 8em;
  width: 100%;
}

a
{
	text-decoration: none;
	&:hover
	{
		text-decoration: underline;
	}
}

.full-container
{
	width: 100%;
	@include filter-gradient($primary-color, $primary-color, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba($primary-color,1) 0%,rgba($primary-color,0.11) 100%));

}

.red
{
	background-color: red;
}

.green
{
	background-color: green;
}

.blue
{
	background-color: blue;
}

.contentWrapper
{
	max-width: 960px;
	margin: 0 auto;
}

.box-list
{
	@include block-grid(1);

	@media #{$small}
	{
		@include block-grid(3, 1.5%);
	}
}

.box-list li
{

	&:nth-child(1)
	{
		.slide-up-boxes
		{
			@include background-image(url("../images/slider1.png"));
		}
	}
	&:nth-child(2)
	{
		.slide-up-boxes
		{
			@include background-image(url("../images/slider2.png"));
		}
	}
	&:nth-child(3)
	{
		.slide-up-boxes
		{
			@include background-image(url("../images/slider3.png"));
		}
	}
}

.slide-up-boxes
{
	display: block;
	overflow: hidden;
	height: $slide-up-box-height;
	max-width: $slide-up-box-width;

	@media #{$small}
	{
		margin-top: 48px;
		margin-top: 1.5rem;
	}

	h2, p{
		color: white;
		@include text-shadow(rgba(black, .7) 2px 2px 0)
	}

	.slide-content
	{
		height: $slide-up-box-height;
		// margin-top: $slide-up-box-height - 48px;
		margin-top: $slide-up-box-height - 3rem;
		@include transition-duration(1s);
		@include transition-timing-function(ease);
		background-color: rgba(#494949, .6);
	}

	&:hover
	{
		.slide-content
		{
			margin-top: 0;
		}
	}
}