@import "compass";

$slide-up-box-height-px: 200px;
$slide-up-box-height: 12.5rem;
$slide-up-box-width-px: 300px;
$slide-up-box-width: 18.75rem;

html
{
	font-size: 100%;
	min-width: 350px;
}

body
{
	background-color: rgba(0,0,0,0);
	// @include background(image-url("../images/force_web_bg.jpg"));
	background-image: url("../images/force_web_bg.jpg");
	color: white;
}

*
{
	@include box-sizing(border-box);
}

header h1
{
	margin: 0;
}

h1 {
	text-align: center;
	color: $primary-color;
	-webkit-text-fill-color: transparent;
	font-family: Century Gothic, sans-serif;
	background: -webkit-linear-gradient(transparent, transparent),
	         -webkit-linear-gradient($primary-color, 
	         	darken($primary-color, 20%));
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

h2
{
	font-size: 3em;
	text-align: center;
	color: white;
	text-decoration: underline;
	font-family: Century Gothic, sans-serif;
	@include text-shadow(rgba(black, .7) 2px 2px 0);
}

h3
{
	text-align: center;
	font-size: 2em;
	color: white;
	font-family: Century Gothic, sans-serif;
	@include text-shadow(rgba(black, .7) 2px 2px 0);
}

svg {
  height: 8em;
  width: 100%;
}

a
{
	text-decoration: none;
	&:hover
	{
		text-decoration: underline;
	}
}

.shadowed
{
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

.full-container
{
	width: 100%;
	@include filter-gradient($primary-color, $primary-color, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba($primary-color,1) 0%,rgba($primary-color,0.11) 100%));
}

.red
{
	background-color: red;
}

.green
{
	background-color: green;
}

.blue
{
	background-color: blue;
}

.contentWrapper
{
	max-width: 960px;
	margin: 0 auto;
}

.box-list
{
	@include grid-row();
	// @include block-grid(1);
	// margin-top: 20px;
	// margin-top: 1.25rem;
	// margin-bottom: 16px;
	// margin-bottom: 1rem;

	// @media #{$small}
	// {
	// 	@include block-grid(3, 1.5%);
	// 	margin-bottom: 10px;
	// 	margin-bottom: .625rem;
	// }
}

.box-list li
{
	list-style: none;
	@include grid-column($columns: 12);
	margin-bottom: 20px;
	@media #{$small}
	{
		@include grid-column($columns: 4);
		margin-top: 20px;
		margin-bottom: 30px;
		// margin-top: 22px;
		// margin-top: 1.5rem;
	}

	&:nth-child(1)
	{
		.slide-up-boxes
		{
			margin-top: 20px;
			@media #{$small}
			{
				margin-top: 0px;
			}
			@include background-image(url("../images/slider1.png"));
		}
	}
	&:nth-child(2)
	{
		.slide-up-boxes
		{
			@include background-image(url("../images/slider2.png"));
		}
	}
	&:nth-child(3)
	{
		.slide-up-boxes
		{
			margin-bottom: 10px;
			@media #{$small}
			{
				margin-bottom: 0px;
			}
			@include background-image(url("../images/slider3.png"));
		}
	}
}

.slide-up-boxes
{
	display: block;
	overflow: hidden;
	height: $slide-up-box-height-px;
	height: $slide-up-box-height;
	max-width: $slide-up-box-width-px;
	max-width: $slide-up-box-width;
	@include box-shadow(rgba(black, .9) 0px 0px 10px);

	p{
		color: white;
		font-size: 2em;
		font-family: Century Gothic, sans-serif;
		@include text-shadow(rgba(black, .7) 2px 2px 0);
	}

	.slide-content
	{
		height: $slide-up-box-height-px;
		height: $slide-up-box-height;
		margin-top: $slide-up-box-height-px - 64px;
		margin-top: $slide-up-box-height - 4rem;
		padding: 8px;
		padding: .5rem;
		@include transition-duration(1s);
		@include transition-timing-function(ease);
		background-color: rgba(#505050, .6);
	}

	&:hover
	{
		.slide-content
		{
			margin-top: 0;
		}
	}
}