$primary-color: rgba(#022609, .8);
$topbar-bg: rgba(0,0,0,0);
$topbar-dropdown-bg: rgba(0,0,0,0);
$topbar-margin-bottom:                 emCalc(0px);
$topbar-dropdown-link-color:           white;
$topbar-dropdown-toggle-color:         black;
$topbar-menu-link-color:               #000;
$topbar-menu-icon-color:               #000;
$topbar-link-color:                    #000;